
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us - Budget Buddy</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css"> 

</head>
<body>
    <header>
        <nav>
          <ul>
            <li><a href="index">Home</a></li>
            <li><a href="budgetsindex">Budgets</a></li>
            <li><a href="transactionindex">Transactions</a></li>
            <li><a href="reportindex">Reports</a></li>
            <li><a href="settingsindex">Settings</a></li>
          </ul>
        </nav>
        <h1>Budget Buddy</h1>
    </header>

    <main>
        <section class="about-us">
            <h2>About Budget Buddy</h2>
            <div class="about-us-content">
                <p>Welcome to Budget Buddy, your personal finance management solution. Our mission is to help you take control of your finances, manage your money effectively, and achieve your financial goals.</p>
                <p>At Budget Buddy, we understand that managing your finances can be challenging. That's why we provide easy-to-use tools and resources to help you track your income, expenses, and budgets.</p>
                <p>Our team is dedicated to creating a user-friendly platform that empowers you to make informed financial decisions. Whether you're budgeting for your next vacation, saving for a major purchase, or planning for retirement, Budget Buddy is here to assist you every step of the way.</p>
                <p>We value your financial well-being and are committed to ensuring your data is secure and your experience with Budget Buddy is both productive and enjoyable.</p>
                <p>Thank you for choosing Budget Buddy as your financial partner. We're excited to join you on your financial journey.</p>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2023 Budget Buddy. All rights reserved.</p>
    </footer>
</body>
</html>
