
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us - Budget Buddy</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css"> 

</head>
<body>
    <!-- <button
    type="button"
    id="link-account"
    class="btn btn-primary btn-dark btn-lg"
    style="
      border: 1px solid black;
      border-radius: 5px;
      background: black;
      height: 48px;
      width: 155px;
      margin-top: 5; 
      margin-left: 10;
      color: white;
      font-size: 18px;
    "
  >
    <strong>Link account</strong>
  </button> -->
  
    <%- include('header.ejs') %>

    <main>
        <section class="about-us">
            <!-- <h2>About Budget Buddy</h2> -->
            <div class="about-us-content">
                <h3 style="text-align: center; margin: 0 0 1em 0;">Welcome to Budget Buddy, your personal finance management solution.</h3>
                <p>Our mission is to help you take control of your finances, manage your money effectively, and achieve your financial goals.</p>
                <br>
                <p>At Budget Buddy, we understand that managing your finances can be challenging. That's why we provide easy-to-use tools and resources to help you track your income, expenses, and budgets.</p>
                <br>
                <p>Our team is dedicated to creating a user-friendly platform that empowers you to make informed financial decisions. Whether you're budgeting for your next vacation, saving for a major purchase, or planning for retirement, Budget Buddy is here to assist you every step of the way.</p>
                <br>
                <p>We value your financial well-being and are committed to ensuring your data is secure and your experience with Budget Buddy is both productive and enjoyable.</p>
                <br>
                <p>Thank you for choosing Budget Buddy as your financial partner. We're excited to join you on your financial journey.</p>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2023 Budget Buddy. All rights reserved.</p>
    </footer>
</body>
</html>
