<!-- header.ejs -->
<header>
    <nav>
        <ul>
            <li><a href="index">Home</a></li>
            <li><a href="aboutus">About Us</a></li>
            <li><a href="login">Login</a></li>
            <li><a href="budgets">Budgets</a></li>
            <li><a href="transactions">Transactions</a></li>
            <li><a href="reports">Reports</a></li>
            <li><a href="settings">Profile</a></li>
        </ul>
    </nav>
    <h1>Budget Buddy</h1>
</header>
<!-- end header.ejs -->
