<!-- transactionindex.ejs
        CREDIT: https://www.w3schools.com/html/default.asp

    -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget Buddy - Transactions</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">

    <style>

        .table-container {
            max-height: 300px;
            overflow-y: auto;
            border: 1px solid black;
            padding: 10px;
        }

        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: center;
          padding: 5px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
    </style>

</head>
<body>
      
    <%- include('header.ejs') %>


    <main>
        <section class="hero">
            <h2>Your Transactions</h2>
            <p>Manage and track your financial transactions.</p>

            <a href="#" class="cta-button">Add Transaction</a>
        </section>
        <div id="transactionPopup" class="popup">
            <div class="popup-content">
                <span class="close-button">&times;</span>
                <h3>Add New Transaction</h3>
                
                <!-- Tab Links -->
                <div class="tab">
                    <button class="tablinks" onclick="openTab(event, 'Recurring')">Recurring Payments</button>
                    <button class="tablinks" onclick="openTab(event, 'FoodDrinks')">Food & Drinks</button>
                    <button class="tablinks" onclick="openTab(event, 'Entertainment')">Entertainment</button>
                    <button class="tablinks" onclick="openTab(event, 'Travel')">Travel</button>
                    <button class="tablinks" onclick="openTab(event, 'Income')">Income</button>
                </div>
            
                <!-- Tab Content for transaction popup-->
                <div id="Recurring" class="tabcontent">
                    <form>
                        <div class="form-group">
                            <label for="paymentAmount">Payment Amount:</label>
                            <input type="number" id="paymentAmount" name="paymentAmount" placeholder="Enter amount">
                        </div>
                
                        <div class="form-group">
                            <label for="paymentDate">Payment Date:</label>
                            <input type="date" id="paymentDate" name="paymentDate">
                        </div>
                
                        <div class="form-group">
                            <label for="paymentPurpose">Payment Purpose:</label>
                            <input type="text" id="paymentPurpose" name="paymentPurpose" placeholder="What's this for?">
                        </div>
                
                        <div class="form-group">
                            <button type="submit">Add Payment</button>
                        </div>
                    </form>
                </div>
            
                <div id="FoodDrinks" class="tabcontent">
                    <form>
                        <div class="form-group">
                            <label for="foodDrinksAmount">Amount:</label>
                            <input type="number" id="foodDrinksAmount" name="foodDrinksAmount" placeholder="Enter amount">
                        </div>
                        <div class="form-group">
                            <button type="submit">Add Transaction</button>
                        </div>
                    </form>
                </div>
            
                <div id="Entertainment" class="tabcontent">
                    <form>
                        <div class="form-group">
                            <label for="entertainmentAmount">Amount:</label>
                            <input type="number" id="entertainmentAmount" name="entertainmentAmount" placeholder="Enter amount">
                        </div>
                        <div class="form-group">
                            <button type="submit">Add Transaction</button>
                        </div>
                    </form>
                </div>
            
                <div id="Travel" class="tabcontent">
                    <form>
                        <div class="form-group">
                            <label for="travelAmount">Amount:</label>
                            <input type="number" id="travelAmount" name="travelAmount" placeholder="Enter amount">
                        </div>
                        <div class="form-group">
                            <button type="submit">Add Transaction</button>
                        </div>
                    </form>
                </div>
            
                <div id="Income" class="tabcontent">
                    <form>
                        <div class="form-group">
                            <label for="incomeAmount">Income Amount:</label>
                            <input type="number" id="incomeAmount" name="incomeAmount" placeholder="Enter amount">
                        </div>
                
                        <div class="form-group">
                            <label for="incomeSource">Income Source:</label>
                            <input type="text" id="incomeSource" name="incomeSource" placeholder="Source of income">
                        </div>
                
                        <div class="form-group">
                            <label for="incomeFrequency">Frequency:</label>
                            <select id="incomeFrequency" name="incomeFrequency">
                                <option value="2 weeks">Every 2 Weeks</option>
                                <option value="1 month">Every Month</option>
                            </select>
                        </div>
                
                        <div class="form-group">
                            <input type="checkbox" id="oneTimeIncome" name="oneTimeIncome">
                            <label for="oneTimeIncome">One-time Income</label>
                        </div>
                
                        <div class="form-group">
                            <button type="submit">Add Income</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Display transactions on the page -->

        <section class="transaction-list">
            <h3>Recent Transactions</h3>
            <div class="table-container">
                <table id="transactionsTable">
                    <tr>
                        <th>Amount</th>
                        <th>Description</th>
                        <th>Category</th>
                        <th>Date</th>
                    </tr>
                </table>
            </div>

            <script>
                document.addEventListener('DOMContentLoaded', function () {

                    fetch('/account/displayTransactions')
                    .then(response => {
                            if (!response.ok) {
                                throw new Error(` [displayTransactions]: HTTP error! Status: ${response.status}`);
                            }
                            return response.json();
                        })
                        .then(data => {
                            populateTable(data);
                        })
                    .catch(error => {
                        console.error("Could not fetch /account/displayTransactions", error);
                    });

                    function populateTable(data) {
                        var tableBody = document.querySelector('#transactionsTable tbody');

                        data.forEach(function (row) {
                            var newRow = tableBody.insertRow();

                            newRow.insertCell(0).textContent = row.amount;
                            newRow.insertCell(1).textContent = row.description;
                            newRow.insertCell(2).textContent = row.category;
                            newRow.insertCell(3).textContent = row.transaction_date;
                        })
                    }
                });
            </script>

            <!-- <ul>
                <li>
                    <h4>...placeholder...</h4>
                    <br>
                </li>
                
            </ul> -->
        </section>

        <section class="transaction-list">
            <h3>Upcoming Transactions</h3>
            <div class="table-container">
                <table id="upcomingTable">
                    <tr>
                        <th>Amount</th>
                        <th>Description</th>
                        <th>Category</th>
                        <th>Date</th>
                    </tr>
                    <tr>
                        <td>Amount</td>
                        <td>Description</td>
                        <td>Category</td>
                        <td>Date</td>
                    </tr>
                    <tr>
                        <td>Amount</td>
                        <td>Description</td>
                        <td>Category</td>
                        <td>Date</td>
                    </tr>
                    <tr>
                        <td>Amount</td>
                        <td>Description</td>
                        <td>Category</td>
                        <td>Date</td>
                    </tr>
                    <tr>
                        <td>Amount</td>
                        <td>Description</td>
                        <td>Category</td>
                        <td>Date</td>
                    </tr>
                    <tr>
                        <td>Amount</td>
                        <td>Description</td>
                        <td>Category</td>
                        <td>Date</td>
                    </tr>
                    <tr>
                        <td>Amount</td>
                        <td>Description</td>
                        <td>Category</td>
                        <td>Date</td>
                    </tr>
                    <tr>
                        <td>Amount</td>
                        <td>Description</td>
                        <td>Category</td>
                        <td>Date</td>
                    </tr>
                    <tr>
                        <td>Amount</td>
                        <td>Description</td>
                        <td>Category</td>
                        <td>Date</td>
                    </tr>
                    <tr>
                        <td>Amount</td>
                        <td>Description</td>
                        <td>Category</td>
                        <td>Date</td>
                    </tr>
                    <tr>
                        <td>Amount</td>
                        <td>Description</td>
                        <td>Category</td>
                        <td>Date</td>
                    </tr>
                    <tr>
                        <td>Amount</td>
                        <td>Description</td>
                        <td>Category</td>
                        <td>Date</td>
                    </tr>
                    <tr>
                        <td>Amount</td>
                        <td>Description</td>
                        <td>Category</td>
                        <td>Date</td>
                    </tr>
                    <tr>
                        <td>Amount</td>
                        <td>Description</td>
                        <td>Category</td>
                        <td>Date</td>
                    </tr>
                    <tr>
                        <td>Amount</td>
                        <td>Description</td>
                        <td>Category</td>
                        <td>Date</td>
                    </tr>
                    <tr>
                        <td>Amount</td>
                        <td>Description</td>
                        <td>Category</td>
                        <td>Date</td>
                    </tr>
                    <tr>
                        <td>Amount</td>
                        <td>Description</td>
                        <td>Category</td>
                        <td>Date</td>
                    </tr>
                    <tr>
                        <td>Amount</td>
                        <td>Description</td>
                        <td>Category</td>
                        <td>Date</td>
                    </tr>
                    <tr>
                        <td>Amount</td>
                        <td>Description</td>
                        <td>Category</td>
                        <td>Date</td>
                    </tr>
                    <tr>
                        <td>Amount</td>
                        <td>Description</td>
                        <td>Category</td>
                        <td>Date</td>
                    </tr>
                </table>
            </div>

            <!-- <ul>
                <li>
                    <h4>Rent Payment</h4>
                    <p>....placeholder...</p>
                </li>
            </ul> -->
        </section>
    </main>

    <footer>
        <p>&copy; 2023 Budget Buddy. All rights reserved.</p>
    </footer>
    <script>
        
        // Get the transaction popup
        var popup = document.getElementById('transactionPopup');
    
        // Get the button that opens the popup
        var btn = document.querySelector('.cta-button');
    
        // Get the <span> element that closes the popup
        var closeButton_span = document.getElementsByClassName('close-button')[0];
    
        // When the user clicks the button, open the popup 
        btn.onclick = function() {
            popup.style.display = 'block';
        }
    
        // When the user clicks on <span> (x), close the popup
        closeButton_span.onclick = function() {
            popup.style.display = 'none';
        }
    
        // When the user clicks anywhere outside of the popup, close it
        window.onclick = function(event) {
            if (event.target == popup) {
                popup.style.display = 'none';
            }
        }
        
        function openTab(evt, tabName) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
        }
        document.getElementById('oneTimeIncome').addEventListener('change', function() {
        var frequencySelect = document.getElementById('incomeFrequency');
        frequencySelect.disabled = this.checked;
        });
    </script>
</body>
</html>
