<!-- transactionindex.ejs
        CREDIT: https://www.w3schools.com/html/default.asp
        https://stackoverflow.com/questions/22657162/querying-mysql-with-node-js-and-display-results-in-webpage

    -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget Buddy - Transactions</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">

    <style>

        .table-container {
            max-height: 425px;
            overflow-y: auto;
            border: 0px solid black;
            padding: 10px;
        }

        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: center;
          padding: 5px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
    </style>

</head>
<body>
      
    <%- include('header.ejs') %>

    <main>
        <section class="hero">
            <h2>Your Transactions</h2>
            <p>Manage and track your financial transactions.</p>

        </section>
            

        <!-- Display transactions on the page -->

        <section class="transaction-list">
            <h2 style="margin: 10px 10px">Recent Transactions</h2>
            <h3 id="balanceAnchor">Balance:</h3>
            <div class="table-container">
                <table id="transactionsTable">
                    <tr>
                        <th>Amount</th>
                        <th>Description</th>
                        <th>Category</th>
                        <th>Date</th>
                    </tr>
                </table>
            </div>

            <!-- js logic to display transactions -->
            <script>
                document.addEventListener('DOMContentLoaded', function () {

                    fetch('/account/displayTransactions')
                    .then(response => {
                            if (!response.ok) {
                                throw new Error(` [displayTransactions]: HTTP error! Status: ${response.status}`);
                            }
                            return response.json();
                        })
                        .then(data => {
                            populateTable(data);
                        })
                    .catch(error => {
                        console.error("Could not fetch /account/displayTransactions", error);
                    });

                    fetch('/account/displayBalance')
                    .then(response => {
                        if (!response.ok) {
                            throw new Error(` [displayBalance]: HTTP error! Status: ${response.status}`);
                        }
                        return response.json();
                    })
                    .then(data => {
                        populateBalance(data);
                    })
                    .catch(error => {
                        console.error("Could not fetch /account/displayBalance", error);
                    });

                    function populateBalance(data) {
                        var target_tag = document.querySelector('#balanceAnchor');

                        var balanceValue = data[0].balance;
                        target_tag.textContent = `Balance: $${balanceValue}`;
                    }

                    function populateTable(data) {
                        var tableBody = document.querySelector('#transactionsTable tbody');

                        data.forEach(function (row) {
                            var newRow = tableBody.insertRow();

                            newRow.insertCell(0).textContent = row.amount;
                            newRow.insertCell(1).textContent = row.description;
                            newRow.insertCell(2).textContent = row.category;
                            newRow.insertCell(3).textContent = row.transaction_date;
                        })
                    }
                });
            </script>

            <!-- <ul>
                <li>
                    <h4>...placeholder...</h4>
                    <br>
                </li>
                
            </ul> -->
        </section>


        <!--
        <section class="transaction-list">
            <h3>Upcoming Transactions</h3>
            <div class="table-container">
                <table id="upcomingTable">
                    <tr>
                        <th>Amount</th>
                        <th>Description</th>
                        <th>Category</th>
                        <th>Date</th>
                    </tr>
                    <tr>
                        <td>Amount</td>
                        <td>Description</td>
                        <td>Category</td>
                        <td>Date</td>
                    </tr>
                    <tr>
                        <td>Amount</td>
                        <td>Description</td>
                        <td>Category</td>
                        <td>Date</td>
                    </tr>
                    <tr>
                        <td>Amount</td>
                        <td>Description</td>
                        <td>Category</td>
                        <td>Date</td>
                    </tr>
                    <tr>
                        <td>Amount</td>
                        <td>Description</td>
                        <td>Category</td>
                        <td>Date</td>
                    </tr>
                    <tr>
                        <td>Amount</td>
                        <td>Description</td>
                        <td>Category</td>
                        <td>Date</td>
                    </tr>
                    <tr>
                        <td>Amount</td>
                        <td>Description</td>
                        <td>Category</td>
                        <td>Date</td>
                    </tr>
                    <tr>
                        <td>Amount</td>
                        <td>Description</td>
                        <td>Category</td>
                        <td>Date</td>
                    </tr>
                    <tr>
                        <td>Amount</td>
                        <td>Description</td>
                        <td>Category</td>
                        <td>Date</td>
                    </tr>
                    <tr>
                        <td>Amount</td>
                        <td>Description</td>
                        <td>Category</td>
                        <td>Date</td>
                    </tr>
                    <tr>
                        <td>Amount</td>
                        <td>Description</td>
                        <td>Category</td>
                        <td>Date</td>
                    </tr>
                    <tr>
                        <td>Amount</td>
                        <td>Description</td>
                        <td>Category</td>
                        <td>Date</td>
                    </tr>
                    <tr>
                        <td>Amount</td>
                        <td>Description</td>
                        <td>Category</td>
                        <td>Date</td>
                    </tr>
                    <tr>
                        <td>Amount</td>
                        <td>Description</td>
                        <td>Category</td>
                        <td>Date</td>
                    </tr>
                    <tr>
                        <td>Amount</td>
                        <td>Description</td>
                        <td>Category</td>
                        <td>Date</td>
                    </tr>
                    <tr>
                        <td>Amount</td>
                        <td>Description</td>
                        <td>Category</td>
                        <td>Date</td>
                    </tr>
                    <tr>
                        <td>Amount</td>
                        <td>Description</td>
                        <td>Category</td>
                        <td>Date</td>
                    </tr>
                    <tr>
                        <td>Amount</td>
                        <td>Description</td>
                        <td>Category</td>
                        <td>Date</td>
                    </tr>
                    <tr>
                        <td>Amount</td>
                        <td>Description</td>
                        <td>Category</td>
                        <td>Date</td>
                    </tr>
                    <tr>
                        <td>Amount</td>
                        <td>Description</td>
                        <td>Category</td>
                        <td>Date</td>
                    </tr>
                </table>
            </div>
        -->
        </section>

        
    </main>

    <footer>
        <p>&copy; 2023 Budget Buddy. All rights reserved.</p>
    </footer>

</body>
</html>
